body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("pictures/Bob-ross-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.grid {
    background-color: white;
    margin-top: 13%;
    width: 700px;
    height: 700px;
    display: grid;
    border: solid;
    margin-top: 100px;
    cursor: url(https://cur.cursors-4u.net/others/oth-2/oth198.cur), auto !important;
}

.square {
    background-color: white;
    display: inline-block;
    margin: 0%;
    
}


.squareHovered {
    background-color: black;
    color: white;
    display: inline-block;
    margin: 0%;
}

.sizeBtn {
    width: 120px;
    height: 50px;
    border-radius: 8px;
    margin-top: 50px;
    font-size: large;
    background-color: peachpuff;

}

/* div.square:hover {
    background-color: black;
} */

